body
{
    background-color: blanchedalmond;
    
}

canvas
{
    background-color: chartreuse;
    border: 5px solid brown;
    max-width: 100%;
    
}

#clock
{
    width: 50%;
    text-align: right;
    float:right;
    top: 100px;
    left: 20px;
    color:darkblue;
    font-size: 20px;
}

section#colorPicker
{
    width: 50%;
    float: left;
}
section#colorPicker ul{
    list-style:none;
}

section#colorPicker li {
    display: inline-block;
    width: 50px;
    height: 100px;
    text-align: center;
    padding-top: 30px;
}

li#q
{
    background-color:mediumvioletred;
}
li#w
{
    background-color:springgreen;
}
li#e
{
    background-color:tan;
}
li#r
{
    background-color:tomato;
}
li#t
{
    background-color:rgb(72, 141, 180);
}
li#y
{
    background-color: rgb(15, 102, 37);
}



#score
{
    position: fixed;
    top: 100px;
    left: 200px;
    color:darkblue;
    font-size: 20px;
}

header
{
    text-align: center;
    background-color:crimson;
    height: 50%;
    width: 100%;
}